
#s4-titlerow, #sideNavBox, #titlerow, .footer{
            display:none !important;
        }
#contentBox {
    margin-right: 20px;
    margin-left: 20px !important;
}
.container{
width: 1000px;
background-color: #D7D7D7;
font-family: Open Sans, sans serif;
/*padding-bottom: 10px;*/
}
